.feature {
  background-color: $lightGrayishBlue;
  text-align: center;

  @include breakpoint-up(large) {
    padding-top: 100px;
    text-align: left;
  }

  &__intro {
    margin-bottom: 3.75rem;
    h2 {
      color: $darkBlue;
      //   font-weight: 300;
    }
    @include breakpoint-up(large) {
      width: 55%;
    }
  }

  &__grid {
    @include breakpoint-up(medium) {
      display: flex;
      flex-wrap: wrap;
    }
    // @include breakpoint-up(large) {
    //   display: flex;
    // }
  }

  &__item {
    padding: 0.9375rem;
    // border: 1px solid rebeccapurple;

    @include breakpoint-up(medium) {
      flex: 1 0 50%;
    }

    @include breakpoint-up(large) {
      flex: 1;
    }
  }

  &__icon {
    margin-bottom: 1.5rem;
  }

  &__title {
    color: $darkBlue;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.15;
  }

  &__description {
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
