html {
  font-size: 100%;
  box-sizing: border-box;
  @include breakpoint-up(large) {
    overflow-x: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin-top: 0;
}
h1 {
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 1.15;
  color: $darkBlue;
  @include breakpoint-up(large) {
    font-size: $font-xlg;
  }
}
h2 {
  font-weight: 300;

  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
  @include breakpoint-up(large) {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}
p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
  //   text-align: justify;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: $font-med;
  color: $grayishBlue;
  font-weight: 300;
  font-family: "Public Sans", sans-serif;
  @include breakpoint-up(large) {
    font-size: $font-lg;
  }
  &.noscroll {
    overflow: hidden;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// Spacing
.container {
  // border: 1px solid black;

  //   max-width: 69.375rem;
  //   margin: 0 auto;

  &--pall {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }

  &--py {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  &--px {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &--pt {
    padding-top: 2.25rem;
  }

  &--pb {
    padding-bottom: 2.25rem;
  }

  &--pr {
    padding-right: 1.5rem;
  }
  &--pl {
    padding-left: 1.5rem;
  }
}

.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &__links {
    a {
      font-size: 0;
    }
  }
}

// Buttons

button,
.button {
  display: inline-block;
  padding: 1rem 1.875rem;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  color: $white;
  font-weight: 400;
  background: linear-gradient(to right, $limeGreen, $brightCyan);
}

// Visibility

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
